$primary: #7E34f6;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Globals
h2 {
    font-weight: bolder;
}
ul {
    @extend .px-3;
}
span {
    @extend .px-1;
}
img {
    @extend .img-fluid;
    @extend .rounded-circle;
    max-width: 35px;
    max-height: 35px;
}

.debug {
    border: solid 1px red;
}

// Header controls
.header {
    &-form {
        @extend .row;
        @extend .my-3;
    }

    &-avatar {
        &-column {
            @extend .col-md-1;
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-center;
        }
        &-img {
            @extend .ms-2;
        }
    }
    &-comment {
        @extend .py-1;
        @extend .container;

        &-column {
            @extend .col-md-9;
            @extend .d-flex;
            @extend .align-items-center;
        }
        &-input {
            @extend .form-control;
            @extend .w-100;
        }
    }
    &-btn {
        @extend .btn;
        @extend .btn-primary;

        &-column {
            @extend .col-md-2;
            @extend .d-flex;
            @extend .align-items-center;
        }
    }
}

// Comment threads.
.avatar {
    @extend .col-auto;
}

.user {
    @extend .fw-semibold;
    @extend .col-auto;
}

.timestamp {
    @extend .text-muted;
    @extend .col-auto;
}

.comment {
    @extend .py-1;
    @extend .container;

    &-without-child {
        @extend .comment;
        @extend .row;
    }
    &-with-child {
        @extend .comment;
        @extend .row;
        background: linear-gradient(lightgray, lightgray);
        background-position: 41px 21px;
        background-size: 1px 90%;
        background-repeat: no-repeat;
    }
    &-child {
        @extend .comment;
        @extend .row;
        @extend .ps-5;
    }
}

$btn-text-color: #525e81;
.upvote-btn, .reply-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .col-auto;
    text-decoration: none;
    padding-left: 0;
    color: $btn-text-color;
    --bs-btn-hover-color: darkgray;
}

.link-btn:hover {
    color: darkgray;
}