$primary: #FF79C6;
$btn-text-color: #9580FF;
$background-color: #282A36;
$img-border-color: #50fA7B;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Globals
body {
    background-color: $background-color;
    color: $gray-300;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    @extend .p-2;
}
h2 {
    font-weight: bolder;
}
ul {
    @extend .px-3;
}
span {
    @extend .px-1;
}
img {
    @extend .img-fluid;
    @extend .rounded-circle;
    border: solid 1px $img-border-color;
    max-width: 35px;
    max-height: 35px;
}

.debug {
    border: solid 1px red;
}

// Header controls
.header {
    &-form {
        @extend .row;
        @extend .my-3;
    }

    &-avatar {
        &-column {
            @extend .col-md-1;
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-center;
        }
        &-img {
            @extend .ms-2;
        }
    }
    &-comment {
        @extend .py-1;
        @extend .container;

        &-column {
            @extend .col-md-9;
            @extend .d-flex;
            @extend .align-items-center;
        }
        &-input {
            @extend .form-control;
            @extend .w-100;
        }
    }
    &-btn {
        @extend .btn;
        @extend .btn-primary;

        &-column {
            @extend .col-md-2;
            @extend .d-flex;
            @extend .align-items-center;
        }
    }
}

// Comment threads.
.avatar {
    @extend .col-auto;
}

.user {
    @extend .fw-semibold;
    @extend .col-auto;
}

.timestamp {
    color: $gray-500;
    @extend .col-auto;
}

.comment {
    @extend .py-1;
    @extend .container;

    &-without-child {
        @extend .comment;
        @extend .row;
    }
    &-with-child {
        @extend .comment;
        @extend .row;
        background: linear-gradient($img-border-color, $img-border-color);
        background-position: 41px 21px;
        background-size: 1px 90%;
        background-repeat: no-repeat;
    }
    &-child {
        @extend .comment;
        @extend .row;
        @extend .ps-5;
    }
}

.upvote-btn, .reply-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .col-auto;
    text-decoration: none;
    padding-left: 0;
    color: $btn-text-color;
    --bs-btn-hover-color: #AA99FF;
}

.link-btn:hover {
    color: #AA99FF;
}